[submodule "src/vendor/gopkg.in/yaml.v2"]
	path = src/vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "src/vendor/github.com/onsi/ginkgo"]
	path = src/vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "src/vendor/github.com/onsi/gomega"]
	path = src/vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "src/vendor/github.com/cloudfoundry/libbuildpack"]
	path = src/vendor/github.com/cloudfoundry/libbuildpack
	url = https://github.com/cloudfoundry/libbuildpack.git
